<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
      <img class="logo" src="../../assets/logo-InPayDefinitive.png">
    </a>
      @for(option of menu_options; track $index){
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">{{option}}</a>
        }@empty{
            <p>Sem conexão</p>
        }
  </div>
</div>
