<app-user-header></app-user-header>
<body class="bg-dark">
  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card rounded-0 border-info bg-dark">
                  <div class="card-header bg-dark text-white">
                      Efetuar Transferência
                  </div>
                  <div class="card-body bg-dark">
                      <form>
                          <div class="form-group p-1">
                              <label class="text-light" for="valor">Valor:</label>
                              <input type="text" class="bg-dark form-control rounded-0" id="valor" placeholder="Digite o valor a ser transferido">
                          </div>
                          <div class="form-group p-1">
                              <label class="text-light" for="conta_origem">Conta de Origem:</label>
                              <input type="text" class="bg-dark form-control rounded-0" id="conta_origem" placeholder="Digite a conta de origem">
                          </div>
                          <div class="form-group p-1">
                              <label class="text-light"  for="conta_destino">Conta de Destino:</label>
                              <input type="text" class="bg-dark form-control rounded-0" id="conta_destino" placeholder="Digite a conta de destino">
                          </div>
                          <button type="submit" class="btn btn-primary rounded-0">Transferir</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
