  <div class="list-group" style="width: 25rem;">

    <nav class="navbar">
      <div class="container-fluid">
        <h5>
          <i class="ri-shape-line"></i>
          Atividades Realizadas
        </h5>
      </div>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link fs-4" href="#">
           <i class="ri-printer-line"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-4" href="#">
          <i class="ri-equalizer-line"></i>
        </a>
      </li>
    </ul>
  </nav>


    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <i class="ri-shopping-cart-line"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Uber *UBER TRIP</h6>
          <p class="mb-0 opacity-75">Titular Final 5056</p>
        </div>
         <div class="d-flex flex-column text-end">
          <small class="opacity-50 text-nowrap">R$ 17,90</small>
          <small class="opacity-50 text-nowrap">HOJE</small>
         </div>
      </div>
    </a>

    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <i class="ri-money-dollar-circle-line"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Pagamento *PGTO</h6>
          <p class="mb-0 opacity-75">Titular Final 5056</p>
        </div>
        <div class="d-flex flex-column text-end">
          <small class="opacity-50 text-nowrap">R$ 17.000,00</small>
          <small class="opacity-50 text-nowrap">20/03</small>
        </div>
      </div>
    </a>

    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <i class="ri-shopping-cart-line"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Build Your Dreams *BYD</h6>
          <p class="mb-0 opacity-75">Titular Final 5056</p>
        </div>
          <div class="d-flex flex-column text-end">
            <small class="opacity-50 text-nowrap">R$ 50K</small>
            <small class="opacity-50 text-nowrap">25/03</small>
          </div>
      </div>
    </a>

  </div>
