<div class="footer-content ms-auto me-auto col-11 border">
  <div class="footer-content d-flex flex-column flex-md-row">

         <div class="d-flex flex-column border ps-4 ps-md-0">
              <a href="user/home-page" class="footer_logo">
                  <span>InPay</span>
              </a>

              <div class="footer_description">
                  Lorem ipsum dolor sit amet consectetur <br>
                  adipisicing elit. Odio fugit, labore nesciunt <br>
                  reprehenderit nobis voluptatibus?
              </div>
          </div>

          <div id="footer-data" class="d-flex justify-content-between col-md-9 container-fluid border flex-column flex-sm-row">
                  <div class="border">
                      <h3 class="footer_title">Sobre</h3>
                      <ul class="footer_links">
                          <li><a href="" class="footer_link">Sobre Nós</a></li>
                          <li><a href="" class="footer_link">Informações</a></li>
                          <li><a href="" class="footer_link">Blogs</a></li>
                      </ul>
                  </div>

                  <div class="border">
                      <h3 class="footer_title">Ajuda</h3>
                      <ul class="footer_links">
                          <li><a href="" class="footer_link">O que é InPay</a></li>
                          <li><a href="" class="footer_link">Nosso Suporte</a></li>
                      </ul>
                  </div>

                  <div class="border">
                      <h3 class="footer_title">Empresa</h3>
                      <ul class="footer_links">
                          <li><a href="" class="footer_link">Por que InPay </a></li>
                          <li><a href="" class="footer_link">Capital</a></li>
                          <li><a href="" class="footer_link">Segurança</a></li>
                      </ul>
                  </div>

                  <div class="border">
                      <h3 class="footer_title">Siga-nos</h3>
                      <div class="footer_social">
                          <a href="user/home-page" target="_blank" class="footer_social-link">
                              <i class="ri-facebook-circle-line"></i>
                          </a>

                          <a href="user/home-page" target="_blank" class="footer_social-link">
                              <i class="ri-instagram-line"></i>
                          </a>

                          <a href="user/home-page" target="_blank" class="footer_social-link">
                              <i class="ri-twitter-x-line"></i>
                          </a>
                      </div>
                  </div>
              </div>
  </div>
</div>
<div class="d-flex flex-column border justify-content-center align-items-center">
  <div class="footer-terms">
      <a href="#">Termos e Acordos</a>
      <a href="#">Privacy Policy</a>
  </div>

  <span class="footer-copy">
      &#169; Copyright #CuriousCat. All right reserved
  </span>
</div>
