<div class="footer d-flex flex-column align-items-center justify-content-center">

  <div class="footer_content container grid d-flex align-items-center justify-content-center">
    <div class="footer_content grid">

      <div>
        <a href="/" class="footer_logo">
          <span>InPay</span>
        </a>

        <div class="footer_description">
          A solução em finanças com integração de API's <br>
          que entrega ao DEV uma ferramenta completa <br>
          de gestão financeira.
        </div>
      </div>

      <div class="footer_data grid">
        <div>
          <h3 class="footer_title">Sobre</h3>
          <ul class="footer_links">
            <li><a href="" class="footer_link">Sobre Nós</a></li>
            <li><a href="" class="footer_link">Informações</a></li>
            <li><a href="" class="footer_link">Blogs</a></li>
          </ul>
        </div>

        <div>
          <h3 class="footer_title">Ajuda</h3>
          <ul class="footer_links">
            <li><a href="" class="footer_link">O que é InPay</a></li>
            <li><a href="" class="footer_link">Nosso Suporte</a></li>
          </ul>
        </div>

        <div>
          <h3 class="footer_title">Empresa</h3>
          <ul class="footer_links">
            <li><a href="" class="footer_link">Por que InPay </a></li>
            <li><a href="" class="footer_link">Capital</a></li>
            <li><a href="" class="footer_link">Segurança</a></li>
          </ul>
        </div>

        <div>
          <h3 class="footer_title">Siga-nos</h3>
          <div class="footer_social">
            <a href="#" target="_blank" class="footer_social-link">
              <i class="ri-facebook-circle-line"></i>
            </a>

            <a href="#" target="_blank" class="footer_social-link">
              <i class="ri-instagram-line"></i>
            </a>

            <a href="#" target="_blank" class="footer_social-link">
              <i class="ri-twitter-x-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_group justify-content-between container col-10" id="termos">

    <span class="footer_copy">
      &#169; Copyright #CuriousCat. All right reserved
    </span>

    <div class="footer_terms">
      <a href="#" class="footer_link">Termos e Acordos</a>
      <a href="#" class="footer_link">Privacy Policy</a>
    </div>
  </div>

</div>
