body {
  color: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
 background-image: url("./Fundo2.avif");
 background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
 background-position: center; /* Centraliza a imagem no elemento */
 background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.container-Primario {
  width: 50%;
  margin: 0 auto;

}

.container {
  color: #02EFFC;
  width: 80%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2); /* Cor de fundo com opacidade */
  backdrop-filter: blur(10px); /* Desfoque para dar o efeito de vidro */
  border-radius: 10px; /* Borda arredondada, opcional */
  padding: 20px; /* Espaçamento interno, opcional */
}

.header {
  background-color: #24c2a1;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.btn-primary {
  background-color: #24c2a1;
  color: #fff;
}

.btn-secondary {
  background-color: #02EFFC;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #02EFFC;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="tel"]:disabled,
input[type="password"]:disabled {
  background-color: #003F48;
}

select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  flex-basis: 48%;
}

/* Add your custom styles for specific elements or components as needed */

