<app-header></app-header>
<main class="mt-2 container-fluid d-flex flex-column align-items-center ps-0">
      <div class="container">
        <!-- FORMULARIO DE CADASTRO -->
        <form [formGroup]="formulario" (submit)="autenticar()" novalidate class="formulario-cadastro">
          <div class="titulo">
            <h2>Cadastre-se</h2>
          </div>

        <div class="form-floating">
          <input type="text" id="name" class="form-control-sm" formControlName="name" placeholder="Usuário" class="form-control">
          <label class="form-label" for="name">Nome</label>
          <p *ngIf="formulario.get('name')?.hasError('required')">Informe seu nome</p>
          <p *ngIf="formulario.get('name')?.hasError('pattern')">Informe um nome válido</p>

        </div>

        <div class="form-floating">
        <input type="number" id="cpf" class="form-control-sm"
        formControlName="cpf" placeholder="123.456.789-10" class="form-control">
        <label class="form-label" for="cpf">CPF</label>
        <p *ngIf="formulario.get('cpf')?.hasError('required')">Informe seu CPF</p>
        <p *ngIf="formulario.get('cpf')?.hasError('pattern')">a</p>
        </div>

        <div class="form-floating">
        <input type="email" id="email" class="form-control-sm" formControlName="email" placeholder="usuario@mail.com" class="form-control">
        <label class="form-label" for="email">Email</label>
        <p *ngIf="formulario.get('email')?.hasError('required')">Informe e-mail</p>
        <p *ngIf="formulario.get('email')?.hasError('email')">Informe um e-mail válido</p>
        </div>

        <div class="form-floating">
        <input type="texto" id="celular" class="form-control-sm" formControlName="celular" placeholder="94002-8922" class="form-control">
        <label class="form-label" for="celular">Celular</label>
        <p *ngIf="formulario.get('celular')?.hasError('required')">Informe seu numero de celular</p>
        <p *ngIf="formulario.get('celular')?.hasError('pattern')">Informe um numero válido</p>
        </div>

        <div class="form-floating">
        <input type="text" id="data_nascimento" class="form-control-sm" formControlName="data_nascimento" placeholder="13/06/1995" class="form-control">
        <label class="form-label" for="data_nascimento">Data de nascimento</label>
        <p *ngIf="formulario.get('data_nascimento')?.hasError('required')">Informe sua data de nascimento</p>
        <p *ngIf="formulario.get('data_nascimento')?.hasError('pattern')">Informe data de nascimento válida</p>
        </div>

        <div class="form-floating">
        <input type="password"  id="senha" class="form-control-sm" formControlName="senha" placeholder="******"  class="form-control">
        <label class="form-label" for="senha">Senha</label>
        </div>

        <div class="form-floating">
        <input type="password" id="confirmarSenha"  class="form-control-sm" formControlName="confirmarSenha" placeholder="******"  class="form-control">
        <label class="form-label" for="confirmarSenha">Confirme sua senha</label>
        <p class="mensagem-de-erro">{{mensagem}}</p>
        </div>


        <input type="submit" value="Cadastrar" class="btn btn-primary" [disabled]="formulario.invalid">
        </form>
    </div>

  </main>
<footer>
    <app-user-home-page-footer></app-user-home-page-footer>
  </footer>




