:host {
  --icon-font-size: 4rem;
  --icon-bordersize: 100px;
  --privacy: hsl(183, 98%, 50%);
  --privacy-alt: hsl(0, 0%, 50%);
}

.second-font{
  font-family: var(--second-font);
  font-weight: 2rem;
}

#operations{
  min-width: 330px;
  max-width: 920px;
}

#balance-area{
  min-width: 330px;
  max-width: 820px;
}

#balance-box1, #balance-box2{
  background-color: var(--title-color);
  padding-left: 50px;
  padding-right: 50px;
}

#balance-value, #privacy{
  color: hsla(183, 78%, 30%, 1);
}

#privacy:hover{
  cursor: pointer;
  color: var(--privacy-alt);
}

.secondary-privacy-color{
  color: var(--privacy-alt) !important;
}
.secondary-privacy-color:hover{
  color: var(--privacy) !important;
}

.box-blur{
  filter: blur(10px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#operations{
  grid-template-columns: repeat(3, max-content);
  column-gap: 2.5rem;
}

#operations-items{
  padding: 20px;
  background-color: var(--title-color);
  color: hsla(183, 78%, 30%, 1);
  font-size: var(--icon-font-size);
  width: var(--icon-bordersize);
  height: var(--icon-bordersize);
  transition: all 0.5s;
  box-shadow: -6px 7px 16px 4px hsla(0, 0%, 0%, .2);
}

#operations-items:hover{
  color: var(--primary-color-alt);
  cursor: pointer;
  box-shadow: -6px 7px 16px 6px hsla(0, 0%, 0%, .5);
  background-color: var(--primary-color);
}

.d-grid{
  row-gap: 2.5em;
}


/* Mudança de cor de componentes da página

.texto {
  color: var(--primary-color-alt);
}

.dark-theme:is(.texto) {
  color: #fff !important;
}*/

@media screen and (max-width: 745px) and (min-width: 0px) {

  #balance-box1, #balance-box2{
    padding-left: 20px ;
    padding-right: 20px ;
  }

  #balance-area{
    flex-direction: column;
    max-width: 355px;
  }

  #balance-box1{
    margin-bottom: 10px;
  }

  #operations{
    grid-template-columns: repeat(2, max-content);
  }
}
