<div class="container-fluid d-flex main mb-5">

    <div class="mt-2 container-fluid d-flex flex-column align-items-center ps-0">

      <div class="d-flex justify-content-between container-fluid mb-5 mt-3" id="balance-area">

        <div class="rounded-pill" id="balance-box1">
          <h5 class="mb-0 text-white">Saldo Disponivel Débito</h5>
          <div class="d-flex justify-content-between">
            <span id="balance-value" class="ps-2 box-blur">317.316.731,12</span>
            <i id="privacy" class="ri-eye-close-line secondary-privacy-color" (click)="togglePrivacy()"></i>
          </div>
        </div>

        <div class="rounded-pill" id="balance-box2">
          <h5 class="mb-0 text-white">Saldo Disponivel Crédito</h5>
          <div class="d-flex justify-content-between">
            <span id="balance-value" class="ps-2 box-blur">120.317,00</span>
            <i id="privacy" class="ri-eye-close-line secondary-privacy-color" (click)="togglePrivacy()"></i>
          </div>
        </div>

      </div>


      <ul class="d-grid second-font container-fluid justify-content-around" id="operations">
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="ri-article-line"></i>
          </a>
          <span>Minhas Finanças</span>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a href="user/transactions" id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="ri-arrow-left-right-line"></i>
          </a>
          <span>Transferências</span>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="ri-smartphone-line"></i>
          </a>
          <span>Recaregar Celular</span>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="ri-bank-card-line"></i>
          </a>
          <span>Cartão de crédito</span>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="ri-bill-fill"></i>
          </a>
          <span>Pagamentos</span>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-pix"></i>
          </a>
          <span>Pix</span>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="ri-file-list-3-line"></i>
          </a>
          <span>Extrato</span>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="ri-line-chart-line"></i>
          </a>
          <span>Investimentos</span>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center">
          <a id="operations-items" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-sack-dollar"></i>
          </a>
          <span>Empréstimos</span>
        </li>

      </ul>

    </div>

</div>
