<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Acompanhamento</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">
      <span class="badge rounded-pill text-bg-light">
        <i class="ri-git-commit-line"></i>
        Fatura aberta
      </span>
    </h6>
    <div class="card-text">
      <div class="small">Valor em aberto</div>
      <div class="fs-3">R$ 1.000,00</div>
      <div class="small">Vence em <span class="fw-medium">15/04</span></div>
      <div class="small">Melhor dia de compra <span class="fw-medium">05</span></div>

    </div>
    <a href="#" class="card-link small">Aumentar de Limite</a>
    <a href="#" class="card-link small">Bloquear Cartão</a>
  </div>
</div>
