*{
  padding: 0;
  margin:0;
}
main{
  width: 100vw;
}
.container{
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 5;
  width: 100%;
  padding-left: 7em;
}
.form-floating{
  margin: 3px;
  width: 65%;
}

.form-control{
  border:0;
}

label{
  font-size:small;
}

.titulo{
  text-align: center;
}

.container{
  margin-top: 6rem;
}

.formulario-cadastro{
  /* padding: 50px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.mensagem-de-erro{
  color:crimson;
  font-size: small;
}

p{
  color:indianred
}

#termos-container{
  align-self:flex-end;
  padding: 0 10em;
}
