*{
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items:center;
}

main{
  width: 100%;
  padding: 0 5em;
}

.container p-3{
  display: flex;
  align-items:center;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 5;
  width: 100%;
}

.form-floating{
  margin: 3px;
  width: 100%;
}

.form-control{
  border:0;
}

label{
  font-size:small;
}

.titulo{
  text-align: center;
}

.container{
  margin-top: 6rem;
}

.formulario-cadastro{
  /* padding: 50px; */
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.mensagem-de-erro{
  color:crimson;
  font-size: small;
}

p{
  color:indianred
}

#termos-container{
  display: flex;
  flex-direction: row;
  align-items:center;
  align-self:flex-end;
}


a:hover{
  text-decoration: underline;
  color:deepskyblue;
}
