<main class=" d-flex flex-md-row flex-column bg-dark w-100 pt-1 pb-5">
  <div class="left-section mx-5 my-5 w-75">
      <img class="mt-5 ms-4" src="../../../../assets/titulo.png" alt="">
  </div>
  <div class="left-section mx-4 w-75">
          <!-- FORMULARIO DE CADASTRO -->
        <form [formGroup]="formulario" (submit)="autenticar()" novalidate class="formulario-cadastro p-5 d-flex flex-column gap-3">
          <div class="titulo">
            <h2 class="text-light fw-light">Cadastre-se</h2>
          </div>

          <!-- NOME -->
        <div class="form-floating p-1">
          <input  (input)="inputChanged('input_nickname',$event)" type="text" id="nickname" class="form-control" formControlName="nickname" placeholder="yunkimin_01" >
          <label class="form-label" for="nickname">Nickname</label>
          <div *ngIf="inputValues['input_nickname'] !== ''">
          <p *ngIf="formulario.get('nickname')?.hasError('pattern')">Informe um nickname válido</p>
          </div>
        </div>

        <!-- EMAIL -->
        <div class="form-floating p-1">
        <input (input)="inputChanged('input_email',$event)" type="email" id="email" class="form-control" formControlName="email" placeholder="usuario@mail.com" >
        <label class="form-label" for="email">Email</label>
        <div *ngIf="inputValues['input_email'] !== ''">
        <p *ngIf="formulario.get('email')?.hasError('required')">Informe e-mail</p>
        <p *ngIf="formulario.get('email')?.hasError('email')">Informe um e-mail válido</p>
        </div>
        </div>

        <!-- CELULAR -->
        <div class="form-floating p-1">
        <input (input)="inputChanged('input_celular',$event)" type="texto" id="celular" class="form-control" formControlName="celular" placeholder="94002-8922" >
        <label class="form-label" for="celular">Celular</label>
        <div *ngIf="inputValues['input_celular'] !== ''">
        <p *ngIf="formulario.get('celular')?.hasError('required')">Informe seu numero de celular</p>
        <p *ngIf="formulario.get('celular')?.hasError('pattern')">Informe um numero válido</p>
        </div>
        </div>

        <!-- SENHA -->
        <div class="form-floating p-1">
        <input type="password"  id="senha" class="form-control" formControlName="senha" placeholder="******"  >
        <label class="form-label" for="senha">Senha</label>
        </div>

        <!-- CONFIRMAÇÃO DE SENHA -->
        <div class="form-floating p-1">
        <input type="password" id="confirmarSenha"  class="form-control" formControlName="confirmarSenha" placeholder="******"  >
        <label class="form-label" for="confirmarSenha">Confirme sua senha</label>
        <p class="mensagem-de-erro">{{mensagem}}</p>
        </div>

        <div class="form-check p-1 ms-4 d-flex justify-content-end">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"  formControlName="termos">
          <label class="form-check-label" for="flexCheckDefault">&nbsp;
            Aceito os&nbsp;
                <a class="text-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Termos de uso.
                </a>
          </label>
        </div>

        <div class=" w-100 d-flex justify-content-center">
          <input id="cadastrar" type="submit" value="Cadastrar" class="btn btn-primary bg-info text-dark py-3 px-5 mt-2 mb-3" [disabled]="formulario.invalid">
        </div>
        </form>
  </div>
  </main>


<app-termos-de-uso-modal></app-termos-de-uso-modal>

