<app-header></app-header>
<main class=" bg-dark w-100">
  <div class="container">
    <div class="d-flex flex-md-row flex-column">
        <div class="d-flex flex-column mx-2 col" >
          <img class="object-fit-cover" src="../../../../assets/titulo.png" width="100%" alt="">
        </div>
        <div class="pt-2 d-flex flex-column col px-2">
          <!-- FORMULARIO DE CADASTRO -->
        <form [formGroup]="formulario" (submit)="autenticar()" (submit)="fazerTeste()" novalidate class="formulario-cadastro d-flex flex-column gap-3">
          <div class="titulo">
            <h2 class="text-light fw-light">Cadastre-se</h2>
          </div>

          <!-- NOME -->
        <div class="form-floating">
          <input  (input)="inputChanged('input_username',$event)" type="text" id="username" class="form-control" formControlName="username" placeholder="yunkimin_01" >
          <label class="form-label" for="username">Username</label>
          <div *ngIf="inputValues['input_username'] !== ''">
          <p *ngIf="formulario.get('username')?.hasError('pattern')">Informe um username válido</p>
          </div>
        </div>

        <!-- EMAIL -->
        <div class="form-floating ">
        <input (input)="inputChanged('input_email',$event)" type="email" id="email" class="form-control" formControlName="email" placeholder="usuario@mail.com" >
        <label class="form-label" for="email">Email</label>
        <div *ngIf="inputValues['input_email'] !== ''">
        <p *ngIf="formulario.get('email')?.hasError('required')">Informe e-mail</p>
        <p *ngIf="formulario.get('email')?.hasError('email')">Informe um e-mail válido</p>
        </div>
        </div>

        <!-- CELULAR -->
        <div class="form-floating ">
        <input (input)="inputChanged('input_celular',$event)" type="texto" id="celular" class="form-control" formControlName="celular" placeholder="94002-8922" >
        <label class="form-label" for="celular">Celular</label>
        <div *ngIf="inputValues['input_celular'] !== ''">
        <p *ngIf="formulario.get('celular')?.hasError('required')">Informe seu numero de celular</p>
        <p *ngIf="formulario.get('celular')?.hasError('pattern')">Informe um numero válido</p>
        </div>
        </div>

        <!-- CEP -->
        <!-- <div class="form-floating ">
          <input (input)="inputChanged('input_cep',$event)" type="texto" id="cep" class="form-control" formControlName="cep" placeholder="94002-8922" >
          <label class="form-label" for="cep">CEP</label>
          <div *ngIf="inputValues['input_cep'] !== ''">
            <p *ngIf="formulario.get('cep')?.hasError('pattern')">Informe um cep válido</p>
            </div>
          </div> -->

        <!-- SENHA -->
        <div class="form-floating ">
          <input (input)="inputChanged('input_senha',$event)" type="password" id="senha" class="form-control" formControlName="senha" placeholder="****" >
          <label class="form-label" for="senha">Senha</label>
          <div *ngIf="inputValues['input_senha'] !== ''">
            <p *ngIf="formulario.get('senha')?.hasError('pattern')">Informe uma senha válido</p>
          </div>
        </div>

        <!-- CONFIRMAÇÃO DE SENHA -->
        <div class="form-floating ">
        <input (input)="inputChanged('input_confirmarSenha',$event)" type="password" id="confirmarSenha"  class="form-control" formControlName="confirmarSenha" placeholder="******"  >
        <label class="form-label" for="confirmarSenha">Confirme sua senha</label>
        <div *ngIf="inputValues['input_confirmarSenha'] !== ''">
          <p *ngIf="formulario.get('confirmarSenha')?.hasError('pattern')">Informe uma senha válido</p>
          <p class="mensagem-de-erro">{{mensagem}}</p>
        </div>

        </div>

        <div class="form-floating ">
          <input (input)="inputChanged('input_recoveryCode',$event)" type="texto" id="recoveryCode" class="form-control" formControlName="recoveryCode" placeholder="94002-8922" >
          <label class="form-label" for="recoveryCode">RecoveryCode</label>
          <div *ngIf="inputValues['input_recoveryCode'] !== ''">
            <p *ngIf="formulario.get('recoveryCode')?.hasError('pattern')">Informe um código de recuperação</p>
            </div>
          </div>

        <div class="form-floating ">
          <input (input)="inputChanged('input_antiPhishingCode',$event)" type="texto" id="antiPhishingCode" class="form-control" formControlName="antiPhishingCode" placeholder="94002-8922" >
          <label class="form-label" for="antiPhishingCode">antiPhishingCode</label>
          <div *ngIf="inputValues['input_antiPhishingCode'] !== ''">
            <p *ngIf="formulario.get('antiPhishingCode')?.hasError('pattern')">Informe um código antiPhising</p>
            </div>
          </div>

        <div class="form-check  ms-4 d-flex justify-content-end">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"  formControlName="termos">
          <label class="form-check-label text-light" for="flexCheckDefault">
            &nbsp;Aceito os
                <a class="text-info" data-bs-toggle="modal" data-bs-target="#termosModal">
                  termos de uso.
                </a>
          </label>
        </div>

        <div class=" w-100 d-flex justify-content-center">
          <input id="cadastrar" type="submit" value="Cadastrar" class="btn btn-primary bg-info text-dark py-3 px-5 mt-2 mb-3" [disabled]="formulario.invalid">
        </div>
        </form>
        </div>
    </div>
  </div>
</main>
<app-termos-de-uso-modal></app-termos-de-uso-modal>

