
.mensagem-de-erro{
  color:crimson;
  font-size: small;
}

p{
  color:indianred
}

a:hover{
  text-decoration: underline;
  color:deepskyblue;
}

.form-floating > input + label:after {
 background: transparent !important;
}

