<app-header></app-header>
<main class="container">
      <div class="container p-1">

        <!-- FORMULARIO DE CADASTRO -->
        <form [formGroup]="formulario" (submit)="autenticar()" novalidate class="formulario-cadastro">
          <div class="titulo">
            <h2>Cadastre-se</h2>
          </div>

          <!-- NOME -->
        <div class="form-floating p-1">
          <input  (input)="inputChanged('input_nickname',$event)" type="text" id="nickname" class="form-control" formControlName="nickname" placeholder="yunkimin_01" >
          <label class="form-label" for="nickname">Nickname</label>
          <div *ngIf="inputValues['input_nickname'] !== ''">
          <p *ngIf="formulario.get('nickname')?.hasError('pattern')">Informe um nickname válido</p>
          </div>
        </div>

        <!-- CPF -->
        <div class="form-floating p-1">
        <input (input)="inputChanged('input_cpf',$event)" type="text" id="cpf" class="form-control"
        formControlName="cpf" placeholder="123.456.789-10" >
        <label class="form-label" for="cpf">CPF</label>
        <div *ngIf="inputValues['input_cpf'] !== ''">
        <p *ngIf="formulario.get('cpf')?.hasError('pattern')">Informe um CPF válido</p>
        </div>
        </div>

        <!-- EMAIL -->
        <div class="form-floating p-1">
        <input (input)="inputChanged('input_email',$event)" type="email" id="email" class="form-control" formControlName="email" placeholder="usuario@mail.com" >
        <label class="form-label" for="email">Email</label>
        <div *ngIf="inputValues['input_email'] !== ''">
        <p *ngIf="formulario.get('email')?.hasError('required')">Informe e-mail</p>
        <p *ngIf="formulario.get('email')?.hasError('email')">Informe um e-mail válido</p>
        </div>
        </div>

        <!-- CELULAR -->
        <div class="form-floating p-1">
        <input (input)="inputChanged('input_celular',$event)" type="texto" id="celular" class="form-control" formControlName="celular" placeholder="94002-8922" >
        <label class="form-label" for="celular">Celular</label>
        <div *ngIf="inputValues['input_celular'] !== ''">
        <p *ngIf="formulario.get('celular')?.hasError('required')">Informe seu numero de celular</p>
        <p *ngIf="formulario.get('celular')?.hasError('pattern')">Informe um numero válido</p>
        </div>
        </div>

        <!-- SENHA -->
        <div class="form-floating p-1">
        <input type="password"  id="senha" class="form-control" formControlName="senha" placeholder="******"  >
        <label class="form-label" for="senha">Senha</label>
        </div>

        <!-- CONFIRMAÇÃO DE SENHA -->
        <div class="form-floating p-1">
        <input type="password" id="confirmarSenha"  class="form-control" formControlName="confirmarSenha" placeholder="******"  >
        <label class="form-label" for="confirmarSenha">Confirme sua senha</label>
        <p class="mensagem-de-erro">{{mensagem}}</p>
        </div>

        <div id="termos-container">
          <label><input type="checkbox" class="mx-2">Aceito os <a>Termos de uso</a></label>
        </div>

        <div class="p-2 ">
          <input id="cadastrar" type="submit" value="Cadastrar" class="btn btn-primary p-2 mt-2" [disabled]="formulario.invalid">
        </div>
        </form>

    </div>

  </main>
<footer>
    <app-user-home-page-footer></app-user-home-page-footer>
  </footer>




