<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./cep-test.component.ts"></script>
</head>
<body>
  <p>cep-test works!</p>

  <div>
    <form>
      <input type="text" id="CEP" name="CEP" formControlName="CEP" placeholder="Digite o CEP">
      <button type="submit" id="CheckCEP" (click)="searchCEP()">Verificar CEP</button>
    </form>
  </div>

  <script type="module" src="./cep-test.component.ts"></script>
</body>
</html>


