<!-- <header class="bg-info h-100 py-5">
  <p>header</p>
</header> -->
<main class=" bg-dark px-5 d-flex flex-column justify-content-center">
  <div>
    <form class="p-5 d-flex flex-column justify-content-center">
      <div class="w-50">
        <p class="fs-3 text-light">Crie sua conta</p>
      </div>
      <div class="mb-3 w-50">
        <label for="nome" class="form-label text-light text-opacity-75">Nome completo</label>
        <input type="text" class="form-control" id="nome">
        <div id="emailHelp" class="form-text text-light text-opacity-25">Nome, nome composto, sobrenome1, sobrenome2..</div>
      </div>
      <div class="mb-3  w-50">
        <label for="cpf" class="form-label text-light text-opacity-75">CPF</label>
        <input type="text" class="form-control" id="cpf">
      </div>
      <div class="mb-3  w-50">
        <label for="data" class="form-label text-light text-opacity-75">Data de nascimento</label>
        <input type="text" class="form-control" id="data">
      </div>
      <div class="mb-3 w-50 ">
        <label for="endereco" class="form-label text-light text-opacity-75">Endereco</label>
        <input type="text" class="form-control" id="endereco">
      </div>
      <div class="mb-3 w-50 ">
        <label for="nickname_conta" class="form-label text-light text-opacity-75">Nickname</label>
        <input type="text" class="form-control" id="nickname_conta">
        <div id="nickHelp" class="form-text text-light text-opacity-25">Crie um nickname para sua conta</div>

      </div>
      <div class="mb-3 form-check w-50">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-outline-info w-50 rounded-0">Submit</button>
    </form>
  </div>
</main>
<footer>
  <p class="bg-dark-subtle p-5">isso é o footer</p>
</footer>
