<header>
  <app-user-header></app-user-header>
</header>
<main>
  <div id="conteudo"class="container-fluid pt-2 ps-5">
    <h3 class="text-light ps-3 py-5 fw-light ">Olá, <span class="text-info">CuriousCat</span></h3>
    <div class="content d-grid ps-5 pe-0 py-5 mb-5" id="botoes">
      <h5 class="text-light fw-light">Crie sua conta:</h5>
      <a href="account-home" id="btn" class="btn btn-outline-info btn-lg text-light m-1 rounded-0 w-25 d-flex flex-column">
          Pessoa Física
      </a>
      <a href="account-home" id="btn" class="btn btn-outline-info btn-lg text-light m-1 mb-5 rounded-0 w-25">
          Pessoa Jurídica
      </a>
    </div>
    <div class="d-flex justify-content-end mt-5">
      <div class="btn btn-outline-info h-25 rounded-0 rounded-start-5 rounded-top-5 ms-5 mb-1 me-2 mb-3">
        <div id="msg" class="text-light rounded-1 p-1 text-wrap">
          Abilite a autenticação <br> de dois fatores!
        </div>
      </div>
  </div>
  </div>
</main>
<footer class="h-auto"></footer>
