<main>
  <div class="container">
    <div class="d-grid p-5">
    <div class="row px-5 pt-4">
      <div class="col">
        <button type="button" class="btn btn-outline-info rounded-0 w-100">PIX</button>
        </div>
      <div class="col">
        <button type="button" class="btn btn-outline-info rounded-0  w-100">BOLETO</button>
      </div>
    </div>
    <div class="row px-5 py-4">
      <div class="col">
        <div class="form-floating">
          <input type="texto" id="valor" class="form-control bg-dark rounded-0 border-info" formControlName="valor" placeholder="94002-8922" >
          <label class="form-label text-light" for="valor">Valor</label>
        </div>
      </div>
    </div>
    <div class="row m-5 p-5">
      <div class="col"></div>
    </div>
  </div>
  </div>

</main>
