
/* Estilo para a barra de navegação */
.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161622; /* Adiciona a cor de fundo azul */
    padding: 10px; /* Adiciona um preenchimento interno à barra de navegação */
}

/* Estilo para a lista de navegação */
.nav_list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Estilo para cada item da lista de navegação */
.nav_item {
    margin-right: 15px; /* Ajuste o espaçamento entre os itens conforme necessário */
}

/* Estilo para os links de navegação */
.nav_link {
    text-decoration: none;
    color: #fff; /* Define a cor do texto para branco */
}

/* Estilo para os botões na barra de navegação */
.nav_buttons {
    display: flex;
    align-items: center;
}

/* Ajuste o estilo dos ícones conforme necessário */
.change-theme,
#theme-button,
#nav-toggle {
    margin-right: 10px; /* Ajuste o espaçamento entre os botões conforme necessário */
    cursor: pointer;
}

/* Reduz o tamanho da imagem pela metade */
.nav_buttons img {
    width: 50%;
}

/* Media queries para tamanhos de tela específicos */
@media screen and (max-width: 1080px) {
    .nav_item {
        margin-right: 10px; /* Reduz o espaçamento entre os itens */
    }

    .change-theme,
    #theme-button,
    #nav-toggle {
        margin-right: 5px; /* Reduz o espaçamento entre os botões */
    }
}

@media screen and (max-width: 768px) {
    .nav_menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_list {
        margin-top: 10px; /* Adiciona um espaçamento entre a lista e os botões */
    }

    .nav_item {
        margin: 0;
        margin-bottom: 10px; /* Adiciona um espaçamento entre os itens */
    }
}

.container{
    background-color: #161622;
    color: #fff;
}