<header class="header" id="header">
  <nav class="nav container">
      <!--========== logo ===========-->
      <a href="#" class="nav_logo">
          <img  ngSrc="./assets/img/logo-InPayDefinitive-branco.png" class="logo" width="80" height="40" alt="logo_inpay">
      </a>
      <!--========== menu ===========-->
      <div class="nav_menu">
          <ul class="nav_list">

              <li class="nav_item">
                  <a href="#home" class="nav_link">
                     <i class="ri-home-line"></i>
                    <span>Home</span>
                  </a>
              </li>

              <li class="nav_item">
                  <a href="#featured" class="nav_link">
                     <i class="ri-artboard-2-line"></i>
                    <span>Featured</span>
                  </a>
              </li>

              <li class="nav_item">
                  <a href="#discount" class="nav_link">
                      <i class="ri-price-tag-2-line"></i>
                    <span>Discount</span>
                  </a>
              </li>

              <li class="nav_item">
                  <a href="#testimonial" class="nav_link">
                      <i class="ri-user-voice-line"></i>
                    <span>Testimonial</span>
                  </a>
              </li>

          </ul>
      </div>

      <div class="user_photo">
        <a href="user/home-page" class="text-white ms-4 d-flex align-items-center">
          <img class="rounded-circle" id="user-photo" ngSrc="assets/user-home-page/Fran Coimbra.png" width="40" height="40" alt="User_photo" title="user">
          <div id="user-name" class="ms-3" title="user">Olá, Fran Coimbra</div>
        </a>
      </div>

      <div class="nav_actions">
          <!-- login button-->
          <i class="ri-user-line login-button" id="login-button"></i>
          <!-- theme button-->
          <i class="ri-moon-line change-theme" id="theme-button"></i>
          <!-- logout button-->
          <i class="ri-logout-box-line" id="logout-button"></i>
      </div>

  </nav>
</header>
