<div class="container-fluid border d-flex">

    <nav class="border-end border-black col-2">
      <ul>
        <li>Início</li>
        <li>Meu Cartão</li>
        <li>Investimentos</li>
        <li>Configurações</li>

      </ul>
    </nav>

    <div class="ms-2 mt-2">

      <div class="border bg-black rounded-pill text-white ps-3 pe-3 ">
        <h4 class="mb-0">Saldo Disponivel</h4>
        <a>120121317316731,12818</a>
      </div>


      <ul>
        <li>Minhas Finanças</li>
        <li>Transferências</li>
        <li>Recaregar Celular</li>
        <li>Cartão de crédito</li>
        <li>Pagamentos</li>
        <li>Pix</li>
        <li>Extrato</li>
        <li>Investimentos</li>
        <li>Empréstimos</li>
      </ul>

    </div>

</div>
