<div class="container-fluid border d-flex">

    <nav class="border-end border-black col-2">
      <ul>
        <li>Minhas Finanças</li>
        <li>Transferências</li>
        <li>Recaregar Celular</li>
        <li>Cartão de crédito</li>
        <li>Pagamentos</li>
        <li>Pix</li>
        <li>Extrato</li>
        <li>Investimentos</li>
        <li>Empréstimos</li>
      </ul>
    </nav>

    <div class="ms-2 mt-2">

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sapiente voluptatum consectetur, quas labore corrupti commodi, dicta excepturi in adipisci fugit nisi enim rerum, minima nam tempora reprehenderit sequi. Veniam omnis, earum, sunt sed placeat saepe in veritatis facere illum repudiandae dicta nemo ab suscipit porro aut tempora soluta animi provident. Culpa aspernatur quis quasi dignissimos sint, vitae error numquam sit ullam ipsa distinctio ipsam eos corporis dolor totam hic atque officia earum nihil ratione perspiciatis doloremque nemo! Blanditiis doloremque repellendus, odio expedita sapiente perferendis error a omnis, delectus ex alias sunt voluptatibus nam dolores nesciunt, deserunt assumenda. Corrupti, eaque!

    </div>

</div>
