<nav class="navbar navbar-expand-lg bg-dark py-3 ">
  <div class="container-fluid justify-content-end">
    <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
          <a id="nav-op" class="nav-link active text-info fs-6" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a id="nav-op" class="nav-link text-light fs-6" href="#">Documentação</a>
        </li>
        <li class="nav-item">
          <a id="nav-op" class="nav-link text-light fs-6" href="sign-up">Cadastro</a>
        </li>
        <li class="nav-item">
          <a id="nav-op" class="nav-link text-light fs-6" href="#">Login</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
