<nav class="nav container-fluid p-2 border-bottom border-black border-2 pb-0">


  <div id="nav-menu" class="container-fluid border d-flex justify-content-between align-items-end ps-0 pe-0">
    <div class="nav-user">
      <div class="nav-list d-flex align-items-end">
        <a href="user/home-page" class="nav_logo me-2">
          <img id="nav-logo" ngSrc="./assets/user-home-page/logo-InPay.png" width="80" height="40" alt="logo_inpay">
        </a>
        <div id="user" class="d-flex align-items-end">
          <img ngSrc="./assets/user-home-page/user.png" width="30" height="30" alt="foto_usuario">
          <a>Olá, Usuario</a>
        </div>
      </div>
    </div>

    <div class="nav-btns">
      <a class="btn ri-login-box-line change-theme" title="Login">Tema</a>
      <a class="btn ri-moon-line change-theme" id="theme-button">Log off</a>
    </div>
  </div>
</nav>
