.body {
  margin: 0;
  padding: 0;
}

.logo{
  height:8vh;
  width:auto;
}

.balanco{
  font-size: small;
  align-self: center;
}

.dflex{
  width:100%;
}


.table-container{
  background-color:lightblue;
  width: 100%;
}

.nav {
  height: 10vh;
  justify-content:space-evenly;
  padding: 10px;
  background-color:azure;
}

.table {
  border-style:unset;
}

.table th{
  font-size: smaller;
}

.table td{
  font-size:x-small;
}

.table tr:hover{
  text-decoration:underline;
  text-decoration-color:lightblue ;
  cursor: default;
}

.h4:hover{
  cursor: default;
}
