
<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-body">
        <form  class="formulario-cadastro p-5 d-flex flex-column">
          <div class="form-floating m-2 w-75 ms-5" >
            <input type="email" class="form-control bg-dark text-light rounded-0 " id="email">
            <label for="email" class="form-label text-light text-opacity-75" id="label1" >Email</label>
          </div>
          <div class="form-floating m-2 w-75 ms-5">
            <input type="password" class="form-control bg-dark text-light rounded-0 " id="senha">
            <label for="senha" class="form-label text-light text-opacity-75" id="label2">Senha</label>
          </div>
          <div class="ms-4 me-3 my-2 d-flex justify-content-center  px-3">
            <input type="submit" class="btn btn-outline-info rounded-0 w-100 ms-2 mx-1" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
