<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="d-flex justify-content-end p-3">
        <button type="button" id="closeModal" [hidden]="true" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario -->
        <form [formGroup]="formulario" (submit)="autenticar()" novalidate class="formulario-cadastro px-5 mb-5 d-flex flex-column">
          <!-- Email -->
          <div class="form-floating m-2 w-75 ms-5" >
            <input (input)="inputChanged('input_email',$event); clearMessage()" type="email" id="login_email" class="form-control-sm" formControlName="email" class="form-control bg-dark text-light rounded-0 ">

            <label for="email" class="form-label text-light text-opacity-75" id="label1" >Email</label>
            <div *ngIf="inputValues['input_email'] !== ''">
              </div>
          </div>
          <!-- Senha -->
          <div class="form-floating m-2 w-75 ms-5">
            <input type="password"  id="login_senha" class="form-control-sm" formControlName="senha" class="form-control bg-dark text-light rounded-0" (input)="clearMessage()">
            <label for="senha" class="form-label text-light text-opacity-75" id="label2">Senha</label>
          </div>
          <!-- Mensagem de erro -->
          <p class="text-danger align-self-center m-0 fs-6">{{mensagem}}</p>
          <!-- Submit -->
          <div class="ms-4 me-3 my-2 d-flex justify-content-center  px-3">
            <input type="submit" class="btn btn-outline-info rounded-0 w-100 ms-2 mx-1" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
