<navmenu-cartao-credito-component></navmenu-cartao-credito-component>
<main class="container-fluid overflow-hidden">

   <div class="row mt-5 pt-3">
       <h2 class="text-center">
         <i class="ri-bank-card-line"></i>
          Meu Cartão
       </h2>
  </div>

  <div class="row gy-5 d-flex justify-content-center">

    <div class="col coluna-1 d-flex justify-content-center mt-5">
      <cartao-credito-component></cartao-credito-component>
    </div>

    <div class="col coluna-2 d-flex justify-content-center mt-5 p-2">
      <informacao-valores-component></informacao-valores-component>
    </div>

  </div>

</main>
