<navmenu-cartao-credito-component></navmenu-cartao-credito-component>
<main class="container-fluid overflow-hidden">

   <div class="row mt-5 pt-3">
       <h2 class="text-center">
         <i class="ri-bank-card-line"></i>
          Meu Cartão
       </h2>
  </div>

  <div class="row gy-5 d-flex justify-content-center">

    <!-- Cartao Credito-->
    <div class="col coluna-1 d-flex justify-content-center mt-5">
      <cartao-credito-component></cartao-credito-component>
    </div>

    <!-- Informacao Valores-->
    <div class="col coluna-2 d-flex justify-content-center mt-5 p-2">
      <informacao-valores-component></informacao-valores-component>
    </div>

    <!-- Acompanhamento de Limite -->
    <div class="col-xxl-4 coluna-3">
      <acompanha-limite-component></acompanha-limite-component>
    </div>

    <!-- Botoes de Serviços-->
    <div class="col-xxl-4">
      <botoes-controle-cartao-component></botoes-controle-cartao-component>
    </div>

    <!-- Atividades Realizadas -->
    <div class="col-xxl-4">
      <atividades-realizadas-component></atividades-realizadas-component>
    </div>

  </div>

</main>
