<!-- Menu -->
<navmenu-cartao-credito-component></navmenu-cartao-credito-component>

<div class="container">
  <div class="row mt-5">
    <div class="col mt-5">
      <h3 class="text-center">
        <i class="ri-bank-card-line"></i>
        Meu Cartão
      </h3>
    </div>
  </div>
</div>


<main class="container overflow-hidden">

  <div class="row d-flex justify-content-center">

    <!-- Cartao Credito-->
    <div class="col coluna-1 d-flex justify-content-center mt-5">
      <cartao-credito-component></cartao-credito-component>
    </div>

    <!-- Informacao Valores-->
    <div class="col coluna-2 d-flex justify-content-center mt-5 p-2">
      <informacao-valores-component></informacao-valores-component>
    </div>

    <!-- Acompanhamento de Limite -->
    <div class="col-xxl-4 coluna-3">
      <acompanha-limite-component></acompanha-limite-component>
    </div>

    <!-- Botoes de Serviços-->
    <div class="col-xxl-4 coluna-3">
      <botoes-controle-cartao-component></botoes-controle-cartao-component>
    </div>

    <!-- Atividades Realizadas -->
    <div class="col-xxl-4 coluna-3">
      <div class="card d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-start">
        <atividades-realizadas-component></atividades-realizadas-component>
        <duvidas-faq-component></duvidas-faq-component>
      </div>
    </div>

  </div>
</main>
<footer-cartao-credito-page-component></footer-cartao-credito-page-component>
