<!--========== login ===========-->
<div class="login grid" id="login-content">
  <form action="" class="login_form grid">
      <h3 class="login_title">
        <i class="ri-user-line"></i> Login
      </h3>

      <!--==== Login ===-->
      <div class="login_group grid">
          <div>
              <label for="login-email" class="login_label"><i class="ri-mail-line"></i> Email</label>
              <input type="email" placeholder="Informe seu Email" id="login-email" class="login_input">
           </div>

           <div>
              <label for="login-pass" class="login_label"><i class="ri-lock-line"></i> Senha</label>
              <input type="password" placeholder="Informe sua Senha" id="login-pass" class="login_input">
          </div>
      </div>

      <!--==== Sign Up ===-->
      <div>
          <span class="login_signup">
              Você ainda não tem uma conta?
          </span>
          <a href="cadastro">Cadastre-se!</a>
          <br>
          <a href="#" class="login_forgot">Esqueceu a senha?</a>

          <a href="user/home-page" class="login_button button">Log In</a>
      </div><!--Sign Up-->
  </form>

  <i class="ri-close-line login_close" id="login-close"></i>
</div>
