<!--========== login ===========-->
<div class="login grid" id="login-content">
  <div class="login_form grid">
      <h3 class="login_title">
        <i class="ri-user-line"></i> Login
      </h3>


      <form [formGroup]="formulario" (submit)="autenticar()" novalidate class="login_group grid">
        <!-- E-mail -->
        <div class="form-floating">
          <input (input)="inputChanged('input_email',$event)" type="email" id="email" class="form-control-sm" formControlName="email" placeholder="usuario@mail.com" class="form-control">
          <label class="form-label" for="email">Email</label>
          <div *ngIf="inputValues['input_email'] !== ''">
          <p *ngIf="formulario.get('email')?.hasError('required')">Informe e-mail</p>
          <p *ngIf="formulario.get('email')?.hasError('email')">Informe um e-mail válido</p>
          </div>
          </div>

        <!-- SENHA -->
        <div class="form-floating">
          <input type="password"  id="senha" class="form-control-sm" formControlName="senha" placeholder="******"  class="form-control">
          <label class="form-label" for="senha">Senha</label>
          </div>

          <!--==== Sign Up ===-->
          <div>
              <p class="fs-6 text-light">Você ainda não tem uma conta?</p>
              <a href="cadastro" class="text-info fs-6 fw-light">Cadastre-se!</a>
              <br>
              <a href="" class="text-info fs-6 fw-light">Esqueceu a senha?</a>
              <br>
              <p class="text-danger d-inline">{{mensagem}}</p>

              <div class="pe-2 d-flex justify-content-end">
                <input type="submit" value="Login" class="btn btn-primary w-100 bg-info text-dark mt-2" [disabled]="formulario.invalid">
              </div>
          </div>
      </form>

    </div>

  <i class="ri-close-line login_close" id="login-close"></i>
</div>
