<header>
<app-user-header></app-user-header>
</header>
<main>
<div class="container p-2 mx-5 mt-1 d-flex flex-column">
  <div class="bg-dark px-5 py-1">
    <a class="text-info fs-6">Trocar de conta</a>
    <p class="fs-2 fw-light text-light">Acessando conta: CuriousCat
    </p>
  </div>
  <div class="bg-dark p-5 d-flex gap-4 justify-content-center">
    <a class=" btn btn-outline-info rounded-0 py-2 px-5">DEBITO <span>R$10.000,00</span></a>
    <a class=" btn btn-outline-info rounded-0 py-2 px-5">CREDITO <span>R$10.000,00</span></a>
  </div>
  <div class="px-5">
      <div class="container text-center px-5">
    <div class="row justify-content-md-center gap-1 px-5 my-2">
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">EXTRATO</a>
      </div>
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">TRANSFERÊNCIAS</a>
      </div>
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">TRANSAÇÕES</a>
      </div>
    </div>
    <div class="row justify-content-md-center gap-1 px-5 my-2">
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">EXTRATO</a>
      </div>
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">TRANSFERÊNCIAS</a>
      </div>
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">TRANSAÇÕES</a>
      </div>
    </div>
    <div class="row justify-content-md-center gap-1 px-5 my-2">
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">EXTRATO</a>
      </div>
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">TRANSFERÊNCIAS</a>
      </div>
      <div class="col">
        <a class="btn btn-outline-info rounded-0 w-100">TRANSAÇÕES</a>
      </div>
    </div>
  </div>
  </div>

</div>
</main>
