<app-header></app-header>
<main class="bg-dark">
  <div id="inicio" class="d-flex flex-lg-row flex-column p-5">
    <div id="inicio-left_section" class="pb-5 px-4 d-flex flex-column w-50 mt-2">
      <img src="../../../../assets/titulo.png" class="object-fit-cover w-100 ps-4 pe-5" width="50" >
      <p class="text-light my-2 fs-5 px-4">
        Oferecemos uma plataforma intuitiva que facilita <span class="text-info">integrações de pagamentos</span> e também funciona como um banco digital <span class="text-info">seguro</span>.
      </p>
    </div>
    <div id="inicio-left_section" class="py-4 pe-1 d-flex flex-column w-50">
      <img src="../../../../assets/ilustracao-4dev.png" class="object-fit-cover w-100 h-75" />
    </div>
  </div>

  <div class="bg-info w-50" id="divider"></div>
  <!-- INTEGRAÇÃO -->
  <div id="integração" class="d-flex flex-column p-5">
    <p class="text-light fw-light fs-4 pt-5">
      Crie <span class="text-info">integrações</span> com facilidade e qualidade
    </p>
    <div class="mx-5 my-4 d-flex justify-content-center">
      <img src="../../../../assets/ilustrations/integration.png" class="object-fit-cover h-75"/>
    </div>
  </div>
  <br>
  <div class="bg-info w-50 my-5" id="divider"></div>
  <br>
  <!-- SEGURANÇA -->
  <div id="segurança" class="d-flex flex-column p-5">
      <img src="../../../../assets/ilustrations/segurança.png" class="object-fit-cover" alt="">
  </div>
</main>
