<div class="card">
  <div class="card-body">

    <h5 class="card-title">
      <i class="ri-tools-line"></i>
      Serviços<br>
    </h5>

    <div class="row p-2 d-flex align-content-between">

      <!--====== 04 Btn =====-->
    <div class="pb-2 d-flex justify-content-between">

      <div class="col small text-center">
        <a class="btn btn-primary" href="#" role="button">
          <i class="ri-article-line"></i>
        </a><br>
        Fatura
      </div>

      <div class="col small text-center">
        <a class="btn btn-primary" href="#" role="button">
          <i class="ri-barcode-line"></i>
        </a><br>
        Pagamento
      </div>

      <div class="col small text-center">
        <a class="btn btn-primary" href="#" role="button">
          <i class="ri-cellphone-fill"></i>
        </a><br>
        Recarga
      </div>

      <div class="col small text-center">
        <a class="btn btn-primary" href="#" role="button">
          <i class="ri-plane-line"></i>
        </a><br>
        Milhas
      </div>
    </div>

     <!--====== 04 Btn =====-->
     <div class="d-flex justify-content-between">

      <div class="col small text-center">
        <a class="btn btn-primary" href="#" role="button">
          <i class="ri-btc-line"></i>
        </a><br>
        Usar Bitcoin
      </div>

      <div class="col small text-center">
        <a class="btn btn-primary" href="#" role="button">
          <i class="ri-exchange-2-line"></i>
        </a><br>
        Exchange
      </div>

      <div class="col small text-center">
        <a class="btn btn-primary" href="#" role="button">
          <i class="ri-qr-code-line"></i>
        </a><br>
        Pagar com Qrcode
      </div>

      <div class="col small text-center">
        <a class="btn btn-primary" href="#" role="button">
          <i class="ri-signal-wifi-line"></i>
        </a><br>
        Habilita aproximação
      </div>
     </div>

    </div>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
